.courses-timetable {
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.row-heading {
    font-weight: 500;
    font-size: .7em;
    text-transform: uppercase;
}
.timetable .time-label {
    font-size: .8em;
    font-weight: 500
}
.timetable .time-entry.python {
    background-color: #3752f5;
    border: 1px solid #3752f5;
}
.timetable .time-entry.python:hover {
    background-color: #2b3bbd;
}
.timetable .time-entry.javascript {
    background-color: #f5dd7b;
    border: 1px solid #f5dd7b;
}
.timetable .time-entry.javascript:hover {
    background-color: #f5d662;
}
.timetable .time-entry.go {
    background-color: #59dbf5;
    border: 1px solid #59dbf5;
}
.timetable .time-entry.go:hover {
    background-color: #5fcaf5;
}
.footer-columns {
    padding-top: 1rem;
}